.kcFormHeaderClass {
   display: none !important;
}

.kcFormGroupClass {
   display: none !important;
}

.kcBodyClass {
   background: url("../../8e383cee22ad7d45e8852d095c829ee1.jpg") !important;
   background-size: cover !important;
}

.kcFormCardClass {
   background-color: rgba(67, 67, 67, 1);
}

.kcInfoAreaWrapperClass {
   background-color: rgb(26, 26, 26) !important;
   color: white;
}

.kcFormSocialAccountSectionClass {
   color: white;
}

.kcFormSocialAccountSectionClass {
   hr {
      display: none;
   }
   h2 {
      display: none;
   }
}